<!DOCTYPE html>
<html>
<head>
  <title>JsRender Node Starter</title>
  {{clientTemplate "./templates/hello-detail.html" /}}
</head>
<body>
<a href="/">Movies</a>
<p><em><b>'clientcode-hello.js'</b> JsRender with jQuery</em></p>

<h2>Hello: "{{:hello}}"</h2>

<button id="incrementBtn">Increment...</button>

<div id="result"></div>

<script src="//code.jquery.com/jquery-3.6.1.js"></script>
<!-- Load jsrender.js from node_modules/jsrender on server, (after using 'npm install --save' to install jsrender node module) -->
<script src="/jsrender.js"></script>
<!-- Alternatively load jsrender from CDN or from www.jsviews.com:
<script src="//www.jsviews.com/download/jsrender.js"></script>
 -->
<script src="/js/clientcode-hello.js"></script>
</body>
</html>
